{
    "extends": [
        "airbnb",
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "indent": "off",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "react/jsx-indent": "off",
        "react/jsx-indent-props": "off",
        "linebreak-style": 1,
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "react/require-default-props": [
            0
        ],
        "max-len": [
            "error",
            {
                "code": 1000
            }
        ]
    }
}